<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/website.css"> </link>
</head>
<body>
  <nav class="nav">
          <div class="container">
              <div class="logo">
                  <a href="#">Danielle Hillman</a>
              </div>
              <div id="mainListDiv" class="main_list">
                  <ul class="navlinks">
                      <li><a href="/otherfiles/about.html">About</a></li>
                      <li><a href="#">Education</a></li>
                      <li><a href="#">Portfolio</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </div>
              <span class="navTrigger">
                  <i></i>
                  <i></i>
                  <i></i>
              </span>
          </div>
      </nav>

      <section class="home">
      </section>
<!-- {%extends "index.html"%}
{%block contnt%} -->
<p> hi im very stupid</p>

<!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/js1.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>
<!-- {%endblock%} -->
</body>
</html>
